headless-nuxt/node_modules
headless-nuxt/*.log*
headless-nuxt/.nuxt
headless-nuxt/.nitro
headless-nuxt/.cache
headless-nuxt/.output
headless-nuxt/.env
headless-nuxt/dist


headlesscms/.DS_Store
headlesscms/.AppleDouble
headlesscms/.LSOverride
headlesscms/Icon
headlesscms/.Spotlight-V100
headlesscms/.Trashes
headlesscms/._*
headlesscms/*~
headlesscms/Thumbs.db
headlesscms/ehthumbs.db
headlesscms/Desktop.ini
headlesscms/$RECYCLE.BIN/
headlesscms/*.cab
headlesscms/*.msi
headlesscms/*.msm
headlesscms/*.msp
headlesscms/*.7z
headlesscms/*.csv
headlesscms/*.dat
headlesscms/*.dmg
headlesscms/*.gz
headlesscms/*.iso
headlesscms/*.jar
headlesscms/*.rar
headlesscms/*.tar
headlesscms/*.zip
headlesscms/*.com
headlesscms/*.class
headlesscms/*.dll
headlesscms/*.exe
headlesscms/*.o
headlesscms/*.seed
headlesscms/*.so
headlesscms/*.swo
headlesscms/*.swp
headlesscms/*.swn
headlesscms/*.swm
headlesscms/*.out
headlesscms/*.pid

headlesscms/*.sql
headlesscms/*.sqlite
headlesscms/*.sqlite3
headlesscms/.tmp
headlesscms/*.log
headlesscms/*.cache
headlesscms/dist
headlesscms/build
headlesscms/.strapi-updater.json
headlesscms/lib-cov
headlesscms/lcov.info
headlesscms/pids
headlesscms/logs
headlesscms/results
headlesscms/node_modules
headlesscms/.node_history
headlesscms/testApp
headlesscms/coverage
headlesscms/.env
headlesscms/license.txt
headlesscms/exports